@use "../../styles/variables/colores" as *;
@use "../../styles/variables/mixins" as *;

.novedadesContainer{
    padding: 0 20px;
    max-width: $maxWidth;
    margin: 0 auto;

    //Header
    .header{
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;
        border-bottom: 2px solid $clr_azulOscuro;

        //Titulo
        h2{
            @include h2;
            @media only screen and (min-width: $celularChicoLandscape){
                br{
                    display: none;
                }
            }
        }
        //Boton ver mas
        a{
            font-family: 'Barlow Condensed';
            font-size: 1rem;
            font-weight: 500;
            padding: 10px;
            background-color: $clr_dorado;
            text-decoration: none;
            color: $clr_azulOscuro;
            margin-left: auto;
            margin-bottom: 5px;
        }
    }
    //Noticias
    .noticias{
        margin: 40px 0 60px;
        @media only screen and (min-width: $celularNormalLandscape){
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: 1fr auto;
            gap: 3rem;
            grid-gap: 3rem;
        }
        @media only screen and (min-width: $escritorio){
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}